@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  background-color: #143a8d;
  max-height: 70px;
  color: #fff;
  z-index: 50;
  position: fixed;
  width: 100%;
}

.header_content {
  max-width: 1260px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header_logo img {
  padding: 7.5px 0;
}

.header_menu {
  max-width: 542px;
  width: 100%;
}

.header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header_menu ul li a {
  font-size: 15px;
  font-weight: 700;
  border-bottom: none;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_menu ul li a:hover {
  border-bottom: 1px solid #e4e3e3;
  color: #e4e3e3;
}

.header_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 270px;
  width: 100%;
}

.social_icons img {
  margin-left: 15px;
}

.social_icons img :last-child {
  margin-left: 0;
}

.menu-btn {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 3;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  border-radius: 50%;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  z-index: 100;
  position: absolute;
  max-width: 30px;
  width: 100%;
  height: 3px;
  background-color: #f1ae40;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.menu-btn > span {
  left: 20%;
}

.menu-btn > span::before {
  content: "";
  top: -8px;
}

.menu-btn > span::after {
  content: "";
  top: 8px;
}

.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #143a8d;
  z-index: 50;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#menu-toggle:checked ~ .menubox {
  visibility: visible;
  right: 0;
}

.menu-item {
  display: block;
  text-align: center;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.menu-item:hover {
  color: #f1ae40;
}

.burger_btn {
  text-align: center;
}

.burger_btn a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 13px 21px;
  background-color: #f1ae40;
  border: 3px solid #f1ae40;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger_btn a:hover {
  color: #f1ae40;
  background-color: #fff;
}

.header_social-burger {
  text-align: center;
  margin-top: 20px;
}

.social_icons-burger {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social_icons-burger a {
  margin-right: 10px;
}

.social_icons-burger a:last-child {
  margin-right: 0;
}

.footer {
  background-color: #143a8d;
  padding-bottom: 50px;
}

.footer_block {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 50px;
}

.footer_logo {
  width: 30%;
  color: white;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
}

.footer_logo img {
  margin-bottom: 40px;
}

.footer_logo p {
  margin-bottom: 30px;
}

.number {
  text-align: center;
}

.number a {
  color: #f1ae40;
  font-size: 15px;
  font-weight: 700;
}

.footer_btn {
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu h3 {
  font-size: 19px;
  font-weight: 600;
}

.menu li {
  font-size: 15px;
  line-height: 1.55;
  font-weight: 300;
  margin-top: 15px;
}

.menu a:hover {
  text-decoration: underline;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.social a {
  display: block;
  font-size: 15px;
  line-height: 1.55;
  font-weight: 300;
  margin-bottom: 15px;
}

body,
html {
  height: 100%;
  margin: 0;
}

.main_gallerry {
  overflow-x: hidden;
}

.tabs {
  overflow: hidden;
}

.tab-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tab-head__item {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  border: 2px solid #0a276b;
  background-color: #fff;
  width: 276px;
  text-align: center;
  -webkit-transition: font-weight, color 0.3s ease;
  -o-transition: font-weight, color 0.3s ease;
  transition: font-weight, color 0.3s ease;
}

.tab-head__item:first-child {
  margin-right: -2px;
}

.tab-head__item.active {
  background-color: #0a276b;
  border-color: #222;
  color: #fff;
  font-weight: bold;
}

.tab-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}

.tab-content__item {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  padding: 1rem;
}

.tab-content__item.active {
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  display: block;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  position: static;
}

.gallery_body {
  padding-top: 70px;
  position: relative;
  background-color: #cbdefa;
  padding-bottom: 60px;
}

.gallery_line {
  max-width: 1360px;
}

.gallery_item1 {
  position: absolute;
  top: 5%;
  left: 20%;
}

.gallery_item2 {
  position: absolute;
  right: 20%;
  top: 5%;
}

.gallery_content {
  margin-top: -130px;
}

.gallery_content h1 {
  color: #0a276b;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 70px;
}

.gallery_photoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.gallery_photoblock img {
  max-width: 100%;
  width: 100%;
}

.gallery_photoblock-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main_video {
  text-align: center;
  margin-bottom: 100px;
}

.gallery_videoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gallery_videoblock iframe {
  margin-bottom: 100px;
}

.wrapper {
  height: 100%;
  padding-top: 60px;
  max-width: 755px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Основные стили */

/* Слайдер */

.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* Слайд */

/* Слайд активный */

/* Слайд основной */

/* Слайд по центру */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки */

/* Конкретный слайдер */

.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  width: 40px;
  height: 40px;
  left: 35px;
  background: url("../img/main_page/arrows_l.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  width: 40px;
  height: 40px;
  right: 35px;
  background: url("../img/main_page/arrows_r.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #0a276b;
}

a {
  color: #fff;
}

.first_screen {
  background-color: #0a276b;
  padding-top: 70px;
  position: relative;
}

/*кнопка звонка*/

.callback-bt {
  background: #f1ae40;
  border: 2px solid #f1ae40;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 10px rgba(246, 177, 49, 0.733);
  box-shadow: 0 8px 10px rgba(246, 177, 49, 0.733);
  cursor: pointer;
  height: 68px;
  text-align: center;
  width: 68px;
  position: fixed;
  right: 3%;
  bottom: 10%;
  z-index: 999;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: hoverWave linear 1s infinite;
  animation: hoverWave linear 1s infinite;
}

.callback-bt .text-call {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.callback-bt .text-call img {
  position: absolute;
  right: 16px;
  top: 11px;
}

.callback-bt .text-call span {
  text-align: center;
  color: #f1ae40;
  opacity: 0;
  font-size: 0;
  position: absolute;
  right: 12px;
  top: 25px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
  opacity: 1;
  font-size: 11px;
}

.callback-bt:hover i {
  display: none;
}

.callback-bt:hover {
  z-index: 1;
  background: #fff;
  color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.callback-bt:hover i {
  color: #f1ae40;
  font-size: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.callback-bt i {
  color: #fff;
  font-size: 34px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  line-height: 66px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.callback-bt i {
  animation: 1200ms ease 0s normal none 1 running shake;
  animation-iteration-count: infinite;
  -webkit-animation: 1200ms ease 0s normal none 1 running shake;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
  0% {
    -webkit-box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
  }

  40% {
    -webkit-box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
  }

  80% {
    -webkit-box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067);
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067);
  }

  100% {
    -webkit-box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0);
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0);
  }
}

@keyframes hoverWave {
  0% {
    -webkit-box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
  }

  40% {
    -webkit-box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
  }

  80% {
    -webkit-box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067);
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067);
  }

  100% {
    -webkit-box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0);
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0);
  }
}

.first_content {
  background: url("../img/main_page/first_screenbg.png");
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 30px;
}

.main_text {
  position: absolute;
  max-width: 600px;
  width: 100%;
  top: 86px;
  left: 50px;
}

.main_text h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 26px;
  line-height: 61px;
}

.main_text p {
  font-size: 18px;
  font-weight: 400;
  max-width: 480px;
  line-height: 24px;
  margin-bottom: 36px;
}

.main_text a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  padding: 19px 41px;
  background-color: #f1ae40;
  border: 3px solid #f1ae40;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main_text a:hover {
  color: #f1ae40;
  background-color: #fff;
}

.main_img img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
}

.about_us {
  background: url("../img/main_page/about_bg.png") center center no-repeat;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.about_text {
  padding: 0 15px;
  width: 100%;
  text-align: center;
}

.about_text h2 {
  padding: 50px 0;
  font-size: 52px;
  font-weight: 800;
}

.about_text p {
  width: 70%;
  font-size: 26px;
  line-height: 1.45;
  font-weight: 300;
  margin: 0 auto;
}

.about_section {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.section1 {
  margin-bottom: 80px;
}

.section1 img {
  margin-bottom: -30px;
}

.section2 img {
  margin-bottom: -50px;
}

.section3 img {
  margin-bottom: -20px;
}

.section4 img {
  margin-bottom: -10px;
}

.section5 img {
  margin-bottom: -30px;
}

.icons_absol1 {
  position: absolute;
  top: -62px;
  left: -45px;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.icons_absol2 {
  position: absolute;
  top: -30px;
  right: 0;
  -webkit-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}

.icons_absol3 {
  position: absolute;
  top: 20px;
  right: -40px;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.icons_absol4 {
  position: absolute;
  top: 10px;
  right: -40px;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.icons_absol5 {
  position: absolute;
  bottom: 10px;
  left: 20px;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.about_desc1 {
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
}

.about_desc2 {
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
}

.about_desc3 {
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}

.about_desc4 {
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.about_desc5 {
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}

.about_desc1,
.about_desc2,
.about_desc3,
.about_desc4,
.about_desc5 {
  position: relative;
  background-color: #143a8d;
  max-width: 360px;
  border-radius: 50%;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.about_desc1 p,
.about_desc2 p,
.about_desc3 p,
.about_desc4 p,
.about_desc5 p {
  font-size: 18px;
  font-weight: 400;
  padding: 20px 10px;
}

.numbers_block {
  margin-top: -40px;
  background-color: #cbdefa;
  position: relative;
  padding-bottom: 100px;
}

.numbers_wave img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.numbers_absol1,
.numbers_absol2,
.numbers_absol3,
.numbers_absol4,
.numbers_absol5 {
  position: absolute;
}

.numbers_absol1 img,
.numbers_absol2 img,
.numbers_absol3 img,
.numbers_absol4 img,
.numbers_absol5 img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.numbers_absol1 {
  left: 100px;
}

.numbers_absol2 {
  right: 100px;
}

.numbers_absol3 {
  top: 100px;
  left: 30%;
}

.numbers_absol4 {
  top: 0;
  right: 30%;
}

.numbers_absol5 {
  bottom: 0px;
  right: 30px;
}

.numbers_section {
  max-width: 1165px;
  width: 100%;
  padding-top: 56px;
  margin: 0 auto;
  color: #000;
}

.numbers_ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.numbers_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-top: -110px;
}

.numbers_div1 {
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.amount1 {
  max-width: 150px;
  width: 100%;
  background: url("../img/main_page/white_circle1.png") no-repeat;
  vertical-align: middle;
  display: table-cell;
  margin-bottom: 18px;
}

.amount1 p {
  padding: 30px 40px;
  font-size: 52px;
  font-weight: 700;
}

.amount2 {
  max-width: 150px;
  width: 100%;
  background: url("../img/main_page/white_circle2.png") no-repeat;
  vertical-align: middle;
  display: table-cell;
  margin-bottom: 12px;
}

.amount2 p {
  padding: 40px 30px;
  font-size: 52px;
  font-weight: 700;
}

.amount3 {
  max-width: 150px;
  width: 100%;
  background: url("../img/main_page/white_circle3.png") no-repeat;
  vertical-align: middle;
  display: table-cell;
  margin-bottom: 18px;
}

.amount3 p {
  padding: 30px 30px;
  font-size: 52px;
  font-weight: 700;
}

.amount_desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.video_block {
  background-color: #cbdefa;
}

.video_content {
  background-blend-mode: soft-light;
  background: url("../img/main_page/video_bg.png") center center no-repeat;
  background-color: #435b90;
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  border-radius: 30px;
  position: relative;
  text-align: center;
  max-height: 586px;
  height: 100%;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

.video_content p {
  text-align: left !important;
  display: block;
  padding: 60px 0 0 50px;
  font-size: 18px;
  font-weight: 500;
}

.video_content img {
  display: block;
  padding: 200px 0 250px 0;
  margin: 0 auto;
  opacity: 1 !important;
}

body.compensate-for-scrollbar {
  overflow: auto !important;
}

.fancybox-content {
  padding: 0 !important;
}

.modal_body {
  max-width: 960px;
}

.modal_body iframe {
  width: 960px;
  height: 500px;
}

.fancybox-bg {
  background: rgba(10, 39, 107, 0.7) !important;
}

.help_block {
  background-color: #cbdefa;
  padding: 100px 15px 100px 15px;
}

.help_content {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.help_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.help_itemb {
  position: absolute;
  z-index: 1;
}

.help_itemp {
  position: absolute;
  right: 0;
  bottom: 0;
}

.help_photo1 {
  position: relative;
}

.help_absol1 {
  position: absolute;
}

.help_photo2 {
  position: relative;
  margin-left: -100px;
  margin-top: 100px;
}

.help_absol2 {
  position: absolute;
}

.help_desc {
  width: 55%;
  margin-bottom: 40px;
}

.help_desc p {
  color: #000;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 300;
}

.help_desc a {
  margin-top: 40px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  padding: 19px 41px;
  background-color: #f1ae40;
  border: 3px solid #f1ae40;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.help_desc a:hover {
  color: #f1ae40;
  background-color: #fff;
}

.help_desc .dsongentom {
  position: relative;
  left: 0;
  border-right: 2px solid #000;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
}

.help_desc .desetungavon {
  -webkit-animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 20em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 20em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: #000;
  }

  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #000;
  }

  to {
    border-right-color: transparent;
  }
}

.help_wave {
  margin-top: -50px;
}

.help_wave img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.slider_block {
  background-color: #0c296e;
  margin-bottom: 60px;
}

.slider_block h2 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.slider_body {
  background: url("../img/main_page/slider_bg.png") center center no-repeat;
  border-radius: 30px;
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.slider_body a {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  padding: 19px 41px;
  background-color: #f1ae40;
  border: 3px solid #f1ae40;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider_body a:hover {
  color: #f1ae40;
  background-color: #fff;
}

.slider__item {
  max-width: 755px;
  height: 450px;
}

.slider__item img {
  max-width: 100%;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 30px;
  margin-bottom: 30px;
}

.slider__item p {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.text_block {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

.text_block p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.55;
}

.running_text {
  width: 100%;
  background-color: #143a8d;
  height: 70px;
}

.marquee {
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.marquee__inner {
  padding: 25px 5px;
  font-size: 20px;
  font-weight: 300;
  white-space: nowrap;
  display: inline-block;
}

.quotes_block {
  background-color: #cbdefa;
  padding-top: 60px;
}

.qoutes_content {
  max-width: 1210px;
  margin: 0 auto;
  position: relative;
}

.quotes_absol1 {
  position: absolute;
  right: 0;
  top: 50%;
}

.quotes_absol2 {
  position: absolute;
  bottom: 10%;
  left: 35%;
}

.quotes_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quotes_desc {
  width: 40%;
}

.quotes_desc p {
  color: #0a276b;
  font-size: 24px;
  line-height: 1.55;
  font-weight: 700;
}

.quotes_desc span {
  display: block;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  text-align: end;
  margin-top: 15px;
}

.quotes_desc-photo {
  width: 57%;
  max-width: 680px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
}

.quotes_desc-photo img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.quotes_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quotes_photo1 {
  max-width: 438px;
  height: 391px;
  margin-top: -20px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

.quotes_photo1 img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.quotes_photo2 {
  max-width: 680px;
  max-height: 400px;
  margin-top: 60px;
  margin-left: 60px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

.quotes_photo2 img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.future_block {
  background-color: #cbdefa;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 75px;
}

.future_block h3 {
  color: #0a276b;
  font-size: 36px;
  line-height: 1.55;
  font-weight: 800;
  margin-bottom: 50px;
}

.future_content {
  max-width: 1230px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.this_year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.future_img1 {
  position: relative;
}

.future_absol1 {
  position: absolute;
  left: 0;
}

.future_desc1 {
  position: relative;
  margin-top: -40px;
}

.future_years1 {
  max-width: 168px;
  width: 100%;
  background: url(../img/main_page/years_circle1.png) no-repeat;
  vertical-align: middle;
  display: table-cell;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.future_years1 p {
  padding: 35px 20px;
  color: #0a276b;
  font-size: 52px;
  font-weight: 700;
}

.future_text {
  width: 350px;
  background-color: #143a8d;
  border-radius: 50%;
  vertical-align: middle;
  display: table-cell;
  position: relative;
}

.future_text p {
  font-size: 20px;
  font-weight: 500;
  padding: 35px 30px;
}

.future_year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.future_img2 {
  position: relative;
}

.future_absol2 {
  position: absolute;
  left: 0;
}

.future_desc2 {
  text-align: center;
  position: relative;
  margin-top: -30px;
}

.future_years2 {
  max-width: 168px;
  width: 100%;
  background: url(../img/main_page/years_circle2.png) no-repeat;
  vertical-align: middle;
  display: table-cell;
  position: absolute;
  bottom: -20px;
  left: 10%;
}

.future_years2 p {
  padding: 45px 20px;
  color: #0a276b;
  font-size: 52px;
  font-weight: 700;
}

.pay_block {
  background-color: #cbdefa;
  padding-bottom: 50px;
}

.pay_body {
  max-width: 620px;
  margin: 0 auto;
  border: 3px solid #0a276b;
  border-radius: 30px;
  color: #000;
  text-align: center;
}

.pay_body h3 {
  font-size: 24px;
  margin: 0 auto;
  line-height: 1.35;
  margin-top: 25px;
  font-weight: 700;
  width: 80%;
}

.pay_body p {
  font-size: 18px;
  margin-top: 17px;
  margin-bottom: 30px;
}

.pay_content {
  max-width: 540px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 26px;
}

.pay_cards {
  border: 2px solid #0a276b;
  border-radius: 20px;
  width: 250px;
}

.cards_img {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.simple_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 20px;
}

.pay_btn1 {
  margin-bottom: 15px;
}

.paypal_btn {
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}

.pay_pall {
  border: 2px solid #0a276b;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  text-align: left;
}

.paypal_logo {
  margin-top: 10px;
  margin-left: 10px;
}

.pay_info {
  background-color: #cbdefa;
  line-height: 1.55;
  color: #000;
  font-size: 15px;
  text-align: center;
}

.line_wave {
  background: url(../img/main_page/insta_wave.png) center center no-repeat;
  background-size: cover;
  margin-top: 30px;
  text-align: center;
  overflow: hidden;
}

.insta_block {
  position: relative;
  margin-bottom: 85px;
}

.insta_absol1 {
  position: absolute;
  left: 20%;
}

.insta_absol2 {
  position: absolute;
  right: 20%;
}

.insta_text {
  text-align: center;
  margin-bottom: 85px;
}

.insta_text h2 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 25px;
}

.insta_a {
  font-size: 26px;
  font-weight: 300;
}

.insta_img {
  max-width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container {
  position: relative;
  width: 380px;
  height: 380px;
  margin-bottom: 10px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  width: 90%;
  line-height: 20px;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.reports_body {
  background: url(../img/other/reports_bg.png);
  background-size: cover;
  padding-bottom: 180px;
  padding: 210px 15px 150px 15px;
}

.reports_content {
  max-width: 900px;
  height: 300px;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  background-color: #143a8d;
}

.report_wrap {
  width: 100%;
  height: 300px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.report_wrap p {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.45;
}

.contact_body {
  background: url(../img/other/contact_line.png) bottom center no-repeat;
  padding: 160px 15px 0 15px;
}

.contact_wrap {
  background: url(../img/other/contact_bg.png);
  max-width: 1200px;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  margin-bottom: 100px;
}

.contact_contact h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  padding-top: 40px;
  margin-bottom: 50px;
}

.contact_contact p {
  font-size: 18px;
  text-align: center;
  line-height: 1.85;
  font-weight: 400;
  width: 55%;
  margin: 0 auto;
}

.contact_whatsapp {
  width: 210px;
  height: 135px;
  border-radius: 20px;
  background-color: #6b97ff;
  text-align: center;
}

.contact_whatsapp a {
  font-size: 17px;
  font-weight: 400;
  display: block;
  margin-top: 25px;
}

.contact_iconblock {
  max-width: 640px;
  margin: 0 auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 40px;
}

.contact_icon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.contact_icon1 p {
  font-size: 18px;
  font-weight: 600;
}

.contact_mail {
  width: 210px;
  height: 135px;
  border-radius: 20px;
  background-color: #6b97ff;
  text-align: center;
}

.contact_mail a {
  font-size: 17px;
  font-weight: 400;
  display: block;
  margin-top: 25px;
}

.contact_icon2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.contact_icon2 p {
  font-size: 18px;
  font-weight: 600;
}

hr {
  width: 190px;
  margin: 0 auto;
  border: none;
  background-color: #fff;
  color: #fff;
  height: 1px;
}

.error_page {
  padding-top: 70px;
}

.error_body {
  background: url("../img/other/404_bg.png") top center;
  height: 700px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #223b77;
  text-align: center;
}

.error_content {
  text-align: center;
}

.error_content h1 {
  font-size: 72px;
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 75px;
}

.error_content p {
  font-size: 22px;
  padding-bottom: 75px;
  font-weight: 500;
}

.error_content a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  padding: 19px 41px;
  background-color: #f1ae40;
  border: 3px solid #f1ae40;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.error_content a:hover {
  color: #f1ae40;
  background-color: #fff;
}

.policy_content {
  background-color: #fff;
  padding-top: 130px;
}

.policy_text {
  color: #000;
  max-width: 1190px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 300;
  padding-bottom: 60px;
}

.terms_content {
  background-color: #fff;
  padding-top: 130px;
}

.terms_text {
  color: #000;
  max-width: 1190px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 300;
  padding-bottom: 60px;
}

.delighter {
  opacity: 0;
  -webkit-transform: translatey(50%);
  -ms-transform: translatey(50%);
  transform: translatey(50%);
  -webkit-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.delighter.started {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.scrollA {
  -webkit-transform: translateY(var(--position));
  -ms-transform: translateY(var(--position));
  transform: translateY(var(--position));
}

@media (max-width: 1200px) {
  .about_section {
    max-width: 1000px;
  }
}

@media (max-width: 1150px) {
  .header {
    padding: 0 15px;
  }

  .first_screen {
    padding-left: 50px;
    padding-right: 50px;
  }

  .first_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .main_text {
    position: static;
    width: 80%;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .main_text h1 {
    font-size: 40px;
    line-height: 41px;
  }

  .main_text p {
    font-size: 16px;
  }

  .main_img img {
    margin-left: 0;
  }

  .insta_img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .container {
    margin-left: 10px;
  }

  .insta_absol1 {
    left: 20px;
    top: 30px;
  }

  .insta_absol2 {
    top: 30px;
    right: 20px;
  }

  .gallery_photoblock {
    margin-bottom: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .gallery_photoblock img {
    margin-bottom: 20px;
  }

  .gallery_videoblock {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 1120px) {
  .future_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .this_year {
    margin-bottom: 50px;
  }
}

@media (max-width: 1100px) {
  .qoutes_content {
    max-width: 900px;
  }

  .quotes_photo2 {
    max-width: 580px;
    max-height: 350px;
    margin-top: 40px;
    margin-left: 20px;
  }
}

@media (max-width: 1000px) {
  .modal_body iframe {
    width: 760px;
    height: 500px;
  }

  .help_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .help_desc {
    width: 65%;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .help_desc p {
    margin-top: 20px;
  }

  .quotes_photo2 {
    max-width: 500px;
    max-height: 350px;
  }
}

@media (max-width: 950px) {
  .header_social {
    margin-left: 15px;
  }

  .main_text {
    width: 100%;
  }

  .main_text h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .main_text p {
    font-size: 13px;
    line-height: 18px;
  }

  .main_text a {
    font-size: 16px;
    font-weight: 700;
    padding: 13px 26px;
  }
}

@media (max-width: 850px) {
  .first_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    block-size: cover;
  }

  .main_text {
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .main_text h1 {
    font-size: 35px;
    line-height: 35px;
  }

  .main_text p {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .main_img img {
    width: 80%;
    margin: 0 auto;
  }

  .quotes_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .quotes_desc {
    width: 60%;
    margin-bottom: 20px;
  }

  .quotes_photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .quotes_desc-photo {
    margin-bottom: 30px;
  }

  .quotes_photo1 {
    max-width: 438px;
    max-height: 391px;
    margin-top: 0px;
    border-radius: 30px;
    margin-bottom: 30px;
  }

  .quotes_photo2 {
    margin-top: 0;
    max-width: 580px;
    max-height: 350px;
    width: 90%;
    margin-left: 0;
  }

  .quotes_desc-photo {
    width: 90%;
  }
}

@media (max-width: 840px) {
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    margin-bottom: 30px;
  }

  .about_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 10px;
  }
}

@media (max-width: 760px) {
  .header_menu,
  .header_social {
    display: none;
  }
  .scrollA{
    transform: none;
  }

  .menu-btn {
    visibility: visible;
  }

  .about_text h2 {
    padding: 30px 0;
    font-size: 35px;
    font-weight: 800;
  }

  .about_text p {
    width: 98%;
    font-size: 20px;
    line-height: 1.45;
  }

  .modal_body iframe {
    width: 363px;
    height: 500px;
  }

  .container {
    margin-left: 0;
  }

  .insta_text h2 {
    font-size: 34px;
  }

  .insta_a {
    font-size: 22px;
  }

  .footer_logo {
    margin-bottom: 20px;
  }

  .menu {
    margin-bottom: 30px;
  }

  .contact_contact p {
    font-size: 16px;
    width: 80%;
  }

  .contact_contact h1 {
    font-size: 30px;
  }

  .contact_body {
    padding-top: 80px;
  }

  .error_body {
    background-attachment: scroll;
    height: 400px;
  }

  .error_content h1 {
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 30px;
  }

  .error_content p {
    font-size: 14px;
    padding-bottom: 75px;
  }

  .error_content a {
    font-size: 16px;
    font-weight: 500;
    padding: 16px 38px;
  }

  .policy_content {
    padding-top: 100px;
  }

  .policy_text {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .terms_content {
    padding-top: 100px;
  }

  .callback-bt {
    display: none;
  }

  .terms_text {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 760px) and (max-width: 400px) {
  .container {
    width: 170px;
    height: 170px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .insta_text {
    text-align: center;
    margin-bottom: 60px;
  }

  .insta_absol1 {
    width: 10%;
    top: 50px;
  }

  .insta_absol2 {
    width: 10%;
    top: 50px;
  }

  .error_page {
    padding-top: 50px;
  }
}

@media (max-width: 760px) and (max-width: 760px) {
  .footer_logo {
    width: 98%;
  }

  .footer_logo img {
    margin-bottom: 20px;
  }

  .footer_logo p {
    margin-bottom: 20px;
  }

  .footer_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 50px;
  }

  .number {
    text-align: left;
    margin-bottom: 20px;
  }
}

@media (max-width: 730px) {
  .help_wave {
    margin-top: -30px;
  }

  .slider__item {
    padding: 0px 15px;
  }

  .slider_body {
    margin: 0 auto;
    border-radius: 30px;
    max-width: 500px;
  }

  .slider_block h2 {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  .video_content {
    width: 95%;
    height: 60%;
  }

  .video_content p {
    width: 80%;
    line-height: 25px;
    font-size: 16px;
    padding: 30px 0 0 20px;
  }

  .help_desc {
    width: 85%;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .help_desc p {
    margin-top: 20px;
  }

  .text_block p {
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .future_content {
    max-width: 400px;
  }

  .future_img1 img {
    width: 90%;
  }

  .future_img2 img {
    width: 90%;
  }

  .future_years1,
  .future_years2 {
    border-radius: 80%;
    max-width: 120px;
  }

  .future_years1 p,
  .future_years2 p {
    padding: 30px 10px;
    font-size: 30px;
    font-weight: 700;
  }

  .future_years2 {
    left: -10px;
    bottom: -10px;
  }

  .future_years2 p {
    padding: 30px 10px;
  }

  .future_block h3 {
    max-width: 320px;
    font-size: 30px;
    margin: 0 auto;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  .future_text {
    width: 300px;
  }

  .future_text p {
    font-size: 18px;
    font-weight: 500;
    padding: 25px 20px;
  }

  .pay_body {
    max-width: 420px;
  }

  .pay_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .pay_pall {
    margin-top: 20px;
  }

  .pay_body h3 {
    font-size: 20px;
    width: 95%;
  }

  .line_wave {
    margin-top: -50px;
  }
}

@media (max-width: 540px) {
  .numbers_ellipse {
    display: none;
  }

  .numbers_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
  }

  .numbers_block {
    margin-top: -10px;
  }

  .numbers_div1 {
    max-width: 100%;
  }

  .amount1 {
    background: url("../img/main_page/elipse1_mob.png") no-repeat;
    max-width: 180px;
    margin-bottom: 0;
  }

  .amount1 p {
    padding: 70px 60px;
    font-size: 30px;
    font-weight: 700;
  }

  .amount2 {
    background: url("../img/main_page/elipse2_mob.png") no-repeat;
    max-width: 180px;
    margin-bottom: 0;
    margin-top: 30px;
  }

  .amount2 p {
    padding: 65px 60px;
    font-size: 30px;
    font-weight: 700;
  }

  .amount3 {
    background: url("../img/main_page/elipse3_mob.png") no-repeat;
    max-width: 180px;
    margin-bottom: 0;
    margin-top: 30px;
  }

  .amount3 p {
    padding: 60px 20px;
    font-size: 30px;
    font-weight: 700;
  }

  .amount_desc {
    width: 80%;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  .numbers_block img {
    width: 10%;
  }

  .numbers_absol1 {
    left: 50px;
  }

  .numbers_absol2 {
    top: 20%;
    right: 5px;
  }

  .numbers_absol3 {
    top: 50%;
    left: 5px;
  }

  .numbers_absol4 {
    top: 0;
    right: 5px;
  }

  .numbers_absol5 {
    bottom: 10%;
    right: 30px;
  }
}

@media (max-width: 500px) {
  .numbers_block {
    padding-bottom: 70px;
  }

  .video_content {
    width: 90%;
    max-height: 400px;
    background-size: cover;
  }

  .video_content p {
    width: 98%;
    line-height: 20px;
    font-size: 15px;
    padding: 20px 0 0 20px;
  }

  .video_content img {
    padding: 120px 0 170px 0;
  }

  .help_desc {
    width: 97%;
  }

  .help_desc p {
    font-size: 16px;
    text-align: center;
  }

  .help_desc a {
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
  }

  .help_desc .dsongentom {
    font-size: 15px;
  }

  .help_photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .help_photo2 {
    margin-left: 50px;
    margin-top: -40px;
  }

  .slider_block h2 {
    font-size: 28px;
    margin-bottom: 30px;
    padding-top: 20px;
  }

  .slider_body {
    max-width: 330px;
  }

  .slider_body a {
    font-size: 16px;
  }

  .slider {
    padding: 0;
  }

  .slider .slick-arrow.slick-prev {
    left: 10px;
  }

  .slider .slick-arrow.slick-next {
    right: 10px;
  }

  .slider__item {
    padding: 0;
  }

  .wrapper {
    padding-top: 30px;
  }

  .help_block {
    padding: 100px 15px 50px 15px;
  }

  .text_block {
    padding-bottom: 30px;
  }

  .text_block p {
    font-size: 18px;
  }

  .slider_block {
    margin-bottom: 40px;
  }

  .qoutes_content {
    max-width: 400px;
  }

  .quotes_desc-photo {
    width: 100%;
  }

  .quotes_photo2,
  .quotes_photo1,
  .quotes_desc-photo {
    width: 320px;
    height: 220px;
  }

  .quotes_desc p {
    font-size: 18px;
    line-height: 1.3;
  }

  .quotes_desc {
    width: 90%;
    margin-bottom: 40px;
  }

  .quotes_absol2 {
    bottom: 20%;
    left: 0;
    width: 15%;
  }

  .quotes_absol1 {
    position: absolute;
    right: 0;
    top: 20%;
  }
}

@media (max-width: 460px) {
  .contact_contact p {
    font-size: 16px;
    width: 95%;
    line-height: 1.45;
  }

  .contact_contact h1 {
    font-size: 30px;
  }

  .contact_iconblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contact_whatsapp {
    margin-bottom: 15px;
  }

  .contact_contact h1 {
    margin-bottom: 20px;
  }

  .contact_wrap {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .main_img img {
    width: 100%;
    margin: 0 auto;
  }

  .main_text {
    padding: 0 15px;
  }

  .header {
    max-height: 50px;
  }

  .header_logo img {
    width: 70%;
  }

  .first_screen {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }

  .main_text h1 {
    font-size: 30px;
    line-height: 32px;
  }

  .about_desc1,
  .about_desc2,
  .about_desc3,
  .about_desc4,
  .about_desc5 {
    max-width: 300px;
  }

  .about_desc1 p,
  .about_desc2 p,
  .about_desc3 p,
  .about_desc4 p,
  .about_desc5 p {
    font-size: 14px;
  }

  .icons_absol1 {
    top: -40px;
    left: 0;
  }

  .icons_absol2 {
    top: -20px;
  }

  .icons_absol3 {
    right: 0;
  }

  .icons_absol4 {
    top: 40px;
    right: -10px;
  }

  .icons_absol5 {
    bottom: 20px;
  }

  .img {
    width: 70%;
  }

  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    text-align: center;
  }

  .about_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icons_absol1,
  .icons_absol2,
  .icons_absol3,
  .icons_absol4,
  .icons_absol5 {
    width: 20%;
  }
}

@media (max-width: 400px) {
  .footer_block {
    margin-left: 20px;
  }

  .footer_logo {
    font-size: 13px;
  }

  .tab-head {
    padding: 0 10px;
  }

  .tab-content {
    margin-top: 60px;
  }

  .gallery_content {
    margin-top: -200px;
  }

  .gallery_videoblock iframe {
    margin-bottom: 50px;
    height: 185px;
  }

  .gallery_content h1 {
    font-size: 30px;
  }

  .main_video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .main_video iframe {
    height: 185px;
  }

  .gallery_item2 {
    top: 70px;
    right: 0;
  }

  .gallery_item1 {
    top: 70px;
    left: 0;
  }

  .reports_body {
    padding: 60px 15px 50px 15px;
  }

  .report_wrap p {
    font-size: 22px;
  }
}
